{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Nueva Procedencia{% endblock %}
{% block nombre %}Procedencia{% endblock %}
{% block subtitulo %}Nueva Procedencia{% endblock %}
{% block content %}

    <form action="{{ path('procedencia_new') }}" method="post">
        {{ form_widget(form) }}
        <br><input type="submit" value="Crear" class="btn btn-info"/>
    </form>

    <br>
    <a href="{{ path('procedencia_index') }}" class="btn btn-warning">Volver a la lista</a>

{% endblock %}
