{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Nueva Procedencia{% endblock %}
{% block nombre %}Procedencia{% endblock %}
{% block subtitulo %}Nueva Procedencia{% endblock %}
{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br><input type="submit" value="Crear" class="btn btn-info"/>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('procedencia_index') }}" class="btn btn-warning">Volver a la lista</a>

{% endblock %}
