{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Nuevo Equipo{% endblock %}
{% block nombre %}Equipo{% endblock %}
{% block subtitulo %}Nuevo Equipo{% endblock %}
{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br><input type="submit" value="Crear" class="btn btn-info"/>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('equipo_index') }}" class="btn btn-warning">Volver a la lista</a>

{% endblock %}
