{% extends ":backend:backend.base.html.twig" %}

{% block body %}
    <div class="wrapper">
        {% block backend_header %} {% endblock %}
        {% block backend_aside %} {% endblock %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% block page_header %}
                        {% if name is defined and name is not empty %} {{ name }} {% endif %}
                    {% endblock %}
                    <small>{% block page_header_sub %} {% endblock %}</small>
                </h1>
                {% block page_breadcrumb %}
                    {#<ol class="breadcrumb">#}
                    {#<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
                    {#<li class="active">Here</li>#}
                    {#</ol>#}
                {% endblock %}
            </section>
            <!-- Main content -->
            <section class="content container-fluid">
                {% block content %}
                    <!--------------------------
                      | Your Page Content Here |
                      -------------------------->
                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            {% block footer %}
                <strong>Copyright &copy; 2018 <a href="#">Seniors Firt</a>.</strong> All rights reserved.
            {% endblock %}
        </footer>
    </div>
    <!-- ./wrapper -->
{% endblock %}


