{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Nueva Prueba{% endblock %}
{% block nombre %}Prueba{% endblock %}
{% block subtitulo %}Nueva Prueba{% endblock %}
{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br><input type="submit" value="Crear" class="btn btn-info"/>
    {{ form_end(form) }}

    <br><br>
    <a href="{{ path('prueba_index') }}">Volver a la lista</a>

{% endblock %}

