{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Nueva Prueba{% endblock %}
{% block nombre %}Prueba{% endblock %}
{% block subtitulo %}Nueva Prueba{% endblock %}
{% block content %}

    <form action="{{ path('prueba_new') }}" method="post">
        {{ form_widget(form) }}
        <br><input type="submit" value="Crear" class="btn btn-info"/>
    </form>

    <br><br>
    <a href="{{ path('prueba_index') }}" class="btn btn-warning">Volver a la lista</a>

{% endblock %}

