{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block wrapper %}
    <div ng-cloak>
        <wizard on-finish="finishedWizard()" on-cancel="cancelledWizard()">
            <wz-step wz-title="Asignación">
                <div class="row">
                    <div class="col-lg-3">
                        <label for="equipo">Equipo</label>
                        <select name="equipo" id="equipo" class="form-control">
                            {% for equipo in equipos %}
                                <option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label for="prueba">Prueba</label>
                        <select name="prueba" id="prueba" class="form-control">
                            {% for prueba in pruebas %}
                                <option value="{{ prueba.id }}">{{ prueba.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <input type="submit" wz-next value="Continuar" class="btn btn-success"/>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Planificación">
                <h1>Continuing</h1>
                <p>You have continued here!</p>
                <input type="submit" wz-next value="Finalizar"/>
            </wz-step>
            {#<wz-step wz-title="More steps">
                <p>Even more steps!!</p>
                <input type="submit" wz-next value="Finish now"/>
            </wz-step>#}
        </wizard>
    </div>

{% endblock %}