{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block wrapper %}
    <h1>Planificacion creation</h1>

    <div class="col-lg-6">
        <form action="{{ path('planificacion_new') }}" method="post" enctype="multipart/form-data">
            {{ form_rest(form) }}
            <br><input class="btn btn-success mt-10" type="submit" value="{{ 'crud.create' | trans }}"/>
        </form>
    </div>

    <ul>
        <li>
            <a href="{{ path('planificacion_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
